extends layout.pug

block append head
  link(rel='stylesheet' href='/stylesheets/about-us.css')
block append header
  body
    section.group
      p Tim Reinhardt -
      a.linked-in(href="https://www.linkedin.com/") LinkedIn
      br
      a.github(href="https://github.com/") GitHub
    section.group
      p Allan Yang -
      a.linked-in(href="https://www.linkedin.com/") LinkedIn
      br
      a.github(href="https://github.com/") GitHub
    section.group
      p Justin Stockton -
      a.linked-in(href="https://www.linkedin.com/") LinkedIn
      br
      a.github(href="https://github.com/") GitHub
    section.group
      p John Voskuyl -
      a.linked-in(href="https://www.linkedin.com/in/john-voskuyl-a2214083/") LinkedIn
      br
      a.github(href="https://github.com/jvos415") GitHub
block append footer
