extends layout.pug

block append head
  link(rel='stylesheet' href='/stylesheets/about-us.css')
block append header
  body
  div.about-content-wrapper
    div.one
      section.group
        p Tim Reinhardt -
        img.us(src="https://avatars.githubusercontent.com/u/95321368?v=4")
        a.github(href="https://github.com/tjreinhardt")
          img(src="../images/github.svg").github-image
        br
        a.linked-in(href="https://www.linkedin.com/in/tim-reinhardt-55716b146")
          img(src="../images/LinkedIn.svg").linked-in-image
      section.group
        p John Voskuyl -
        img.us(src="https://avatars.githubusercontent.com/u/98001418?v=4")
        a.github(href="https://github.com/jvos415")
          img(src="../images/github.svg").github-image
        br
        a.linked-in(href="https://www.linkedin.com/in/john-voskuyl-a2214083/")
          img(src="../images/LinkedIn.svg").linked-in-image
    div
      section.group
        p Allan Yang -
        img.us(src="https://avatars.githubusercontent.com/u/101376252?v=4")
        a.github(href="https://github.com/ayang740")
          img(src="../images/github.svg").github-image
        br
        a.linked-in(href="https://www.linkedin.com/")
          img(src="../images/LinkedIn.svg").linked-in-image
      section.group
        p Justin Stockton -
        img.us(src="https://avatars.githubusercontent.com/u/99220434?v=4")
        a.github(href="https://github.com/Justin-Stockton")
          img(src="../images/github.svg").github-image
        br
        a.linked-in(href="https://www.linkedin.com/")
          img(src="../images/LinkedIn.svg").linked-in-image
block append footer
