extends layout.pug
block append head
    link(rel='stylesheet' href='/stylesheets/game.css')
block append header

    body
        h1.games Games
        if locals.authenticated
            each game in games
                a(href=`/games/${game.id}`)
                    img.game-imgs(src=game.gameImage)
        if !locals.authenticated
            each game in games
                a(href=`/users/login`)
                    img.game-imgs(src=game.gameImage)
                
block append footer

