//- extends layout.pug

//- block content
//-     div(class="games-rack-wrapper")
//-         div(class="games-rack-links")
//-             a(id="want-to-play") test
//-             a(id="currently-playing") test
//-             a(id="previously-played") test
//-         div(class="games-rack")


extends layout.pug
block append head
    link(rel='stylesheet' href='/stylesheets/gamesRack.css')
block append header
  body
    div
        h2.game-rack Owned Games
        each game in gamesRacks
            p.game-name #{game.Game.name}
            p.game-image 
              img(src=game.Game.gameImage)
            p.game-description #{game.Game.description}
block append footer
  
