doctype html
html
  head
    link(rel='stylesheet' href='/stylesheets/login.css')
    title #{title}
  header
    nav
      p.logo GGs - GoodGames
      a.home(href="/") Home
      a.mygames(href="/gamesRack") My Games
      a.browsegames(href="/games") Browse Games
  body
    block content
  footer
