doctype html
html
  head
    link(rel='stylesheet' href='/stylesheets/reset.css')
    title #{title}
  header
    nav
      .logo
      a.home(href="/") Home
      a.mygames(href="/gamesRack") My Games
      a.browsegames(href="/games") Browse Games
  body
    block content
  footer
