//- WE NEED THIS PAGE FOR SOME REASON DO NOT DELETE!

doctype html
html
  head
    block head
      script(src="/javascripts/index.js" type="module")
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet")
      link(rel="icon" type="image/x-icon" href="/stylesheets/favicon.ico")
      title GGs - #{title}
  header
    block header
      nav
        a.logo(href="/" style="text-decoration:none;") #[span G]Gs - #[span Good]Games
        div(class="nav-bar-buttons")
          if locals.authenticated
            a.home(href="/home") Home
          a.browsegames(href="/games") Browse Games
          if locals.authenticated
            a.mygames(href="/MyGames") My Games
          if !locals.authenticated
            a.login(href="/users/login") Log In
          if !locals.authenticated
            a.signup(href="users/signup") Sign Up
          form(action="/users/logout" method="post")
              input(type='hidden' name='_csrf' value=csrfToken)
              div
                input(type='submit' value='Log Out')#logout-button

  body
  block body

  footer
    block footer
      div.footer
          a.about-us(href="/about-us") #[span ABOUT] US
          p.goodgames-inc #[span © 2022 G]Gs - #[span Good]Games, Inc.
