extends layout.pug

block append head
  link(rel='stylesheet' href='/stylesheets/my-game-rack.css')
block append header
  body
    h1.welcome Welcome #{user.username}! Gamerack #{rackName}
    
block append footer
