extends layout.pug

block append head
  link(rel='stylesheet' href='/stylesheets/my-game-rack.css')
block append header
  body
    br
    h1.welcome Welcome #{user.username}! This is your #{rackInfo.name} Gamerack!
    br
block append footer

    //- form(action=`/my-game-racks/${rackInfo.id}`, method="post")
    //-   input(type='hidden' name='_csrf' value=csrfToken)
    //-   div.delete-gamerack
    //-   button Delete Game Rack