extends layout.pug
block content
    body 
        div 
            h1 name 
            img(src="", alt="")
            p user info 
        div 
            h2 User's Gameracks 
            a(href="")
            a(href="")  
            a(href="") 
        div 
            h2 User's Reviews
        div 
            h2 User's Year in Games
            p Your 2021 year in games 
            a(href="") Go to your year in games
        div 
            h2 User's favorite games 
            a(href="")  go to your favorite games
        div
            h2 User's Favorite Game Genres
            a(href="") Browse games of your favorite genre 
