@import "layout.css";

.group {
  color: black;
  text-decoration: none;
  display: flex;
  padding: 10px 10px 10px 50px;
}

.linked-in {
  padding: 0px 3px 0px 6px;
}

.github {
  padding: 0px 3px 0px 3px;
}
