* {
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #5536ae;
  height: 70px;
  align-items: center;
  border: black solid 2px;
}

.logo {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 15px;
}

div > a {
  text-decoration: none;
  color: white;
  padding: 0 25px 0 5px;
}

span {
  font-weight: 300;
  padding-left: 5px;
  padding-left: 5px;
}

.goodgames-inc {
  display: flex;
  color: #5536ae;
  width: 300px;
  font-weight: bold;
}

.about-us {
  display: flex;
  color: #5536ae;
  font-weight: bold;
}

.about-us span {
  padding-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  height: 70px;
  align-items: center;
  border: black solid 2px;
  padding: 0 5px 0 15px;
}
.game-title {
  display: flex;
  justify-content: center;
}
.game-img {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.game-stuff {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 4rem 10% 7rem 10%;
  border: black 3px solid;
}

.buttons-to-add {
  display: flex;
  justify-content: space-between;
}

.write-a-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.all-review-stuff {
  display: flex;
  flex-direction: column;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
