@import "layout.css";

.game-title {
  display: flex;
  justify-content: center;
}
.game-img {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

}
.game-imgs {
  transition: transform .2s;
}
.game-imgs:hover {
  transform: scale(1.1);
}

.game-stuff {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 4rem 10% 7rem 10%;
}

.buttons-to-add {
  display: flex;
  justify-content: space-between;
}

.write-a-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.all-review-stuff {
  display: flex;
  flex-direction: column;
}
.game-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  border-width: 3px;
  border-style: solid;
  border-color: #5536ae;
  border-radius: 10px;
  padding: 5px;
}
.posted-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-width: 3px;
  border-style: solid;
  border-color: #5536ae;
  border-radius: 10px;
  padding: 5px;
}
