* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #5536ae;
  height: 70px;
  align-items: center;
  /* border: black solid 2px; */
}

.logo {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 15px;
}

div > a {
  text-decoration: none;
  color: white;
  padding: 0 25px 0 5px;
}

span {
  font-weight: 300;
  padding-left: 5px;
  padding-left: 5px;
}

.goodgames-inc {
  display: flex;
  color: #5536ae;
  width: 300px;
  font-weight: bold;
}

.about-us {
  display: flex;
  color: #5536ae;
  font-weight: bold;
}

.about-us span {
  padding-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  height: 70px;
  align-items: center;
  /* border: black solid 2px; */
  padding: 0 5px 0 15px;
}

.nav-bar-buttons {
  display: flex;
}

#logout-button {
  color: white;
  font-size: 16px;
  padding: 0 15px 0 0;
  border: none;
  background: none;
}

.game-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.game-content-wrapper > * {
  margin-bottom: 1%;
}

.games {
  /* font-family: kdam thmor pro; */
  display: flex;
  font-style: italic;
  font-weight: bold;
  font-size: 5rem;
  justify-content: center;
  color: #1d1c1c;
  flex-wrap: wrap;
}

.owned-games-content-wrapper {
  display: flex;
  margin: 0 33% 0 33%;
  justify-content: center;
  flex-wrap: wrap;
}
.game-rack {
  display: flex;
  font-style: italic;
  font-weight: bold;
  font-size: 4rem;
  justify-content: center;
  color: #1d1c1c;
  flex-wrap: wrap;
}

.game-div {
  margin-bottom: 1rem;
}
