html {
  font-family: "Inter", sans-serif;
}

.logo {
  color: #5536ae;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
}

#login {
  font-style: italic;
  font-weight: bolder;
}

span {
  font-weight: 300;
  padding-left: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(31, 29, 29);
}

.nav-bar-buttons {
  display: flex;
  align-items: center;
}

.error-list {
  display: flex;
  align-items: center;
  margin: 0 20% 0 20%;
  padding: 0 45px 0 45px;
  font-weight: bold;
  flex-direction: column;
  background-color: rgba(255, 0, 0, .4);
  border-radius: 5px;
}

.error-list > p {
 font-size: 25px;
}

form {
  margin: 0 33% 0 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px; */
  /* box-shadow: -2px 2px 7px gray; */
}

input {
  background-color: #d9d9d9;
  color: black;
  border-radius: 10px;
  border-width: 1px;
  line-height: 18px;
  font-size: 15px;
}

input[type="text"] {
  padding: 2px 25px 2px 25px;
}

input[type="password"] {
  padding: 2px 25px 2px 25px;
}

input[type="submit"] {
  padding: 2px 88px 2px 89px;
}

.form-item {
  display: flex;
  margin: 0 2% 2% 2%;
}

.email {
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 75px;
  display: flex;
  color: #5536ae;
}

.password {
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 60px;
  display: flex;
  justify-content: left;
  color: #5536ae;
}

.new-to {
  margin-top: 3px;
  margin-bottom: 2px;
  display: flex;
  justify-content: left;
  color: #5536ae;
}

.login-button {
  margin: 25px 5px 12px 5px;
}

.signup-button {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  color: black;
  border-radius: 10px;
  line-height: 18px;
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  padding: 3px 0px 3px 0px;
  width: 211px;
  margin-top: 2px;
}

#signup-thang {
  text-decoration: none;
  color: black;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 35% 0 35%;
}

.goodgames-inc {
  margin-left: 55px;
  margin-top: 22px;
  display: flex;
  color: #5536ae;
  width: 300px;
  font-weight: bold;
}
